
body{
    background-color: black;
    margin: 0%;
}
.container{ 
    width: 40%;
    margin: 20px auto; 
    padding: 20px;
    background-color: white;
}

 label{
    display:inline-block;
    text-align: right;
    width: 90px;
    margin:5px;

}

#userId, #passw, #nme, #addre, #mail, #zip, #selector{
  width: 200px;
  border: 1px solid rgb(122, 122, 139);
  height: 20px;
  border-radius: 1px;
  margin: 5px 0px 5px 0px;
  border-radius: 3px;

}

#selector{
  background-color: white;
  height: 25px;
}

label[for="textBox"]{
  vertical-align: top;
}

#notes{
  width: 370px;
  border-radius: 3px;
}

#submt{
  margin-left: 40%;
  margin-top: 20px;
  width: 75px;
  font-size: 18px;
}



