/* Styling the body of the registration form, login form and the home page */
body{
    background-color: black;
    margin: 0%;
}
/* Styling the major container that surrounds the registration form with the class container*/
.container{ 
    width: 50%;
    margin: 20px auto; 
    padding: 20px;
    background-color: white;
}
/* Styling all the labels in the file*/
 label{
    display:inline-block;
    text-align: right;
    width: 90px;
    margin:5px;

}
/* Styling all the major input fields in the form with the ids listed below*/
#userId, #passw, #nme, #addre, #mail, #zip, #selector{
  width: 200px;
  border: 1px solid rgb(122, 122, 139);
  height: 20px;
  border-radius: 1px;
  margin: 5px 0px 5px 0px;
  border-radius: 3px;

}
/* Styling the country selector using its id*/
#selector{
  background-color: white;
  height: 25px;
}
/* Styling the label for textbox*/
label[for="textBox"]{
  vertical-align: top;
}
/* Styling the input for about using its id, notes */
#notes{
  width: 370px;
  border-radius: 3px;
}

/* Styling the submit button using its id*/
#submt{
  margin-left: 40%;
  margin-top: 20px;
  width: 75px;
  font-size: 18px;
}



